.footer {
    background-color: #000;
    padding: 40px 0 30px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #ddd;

    img {
        margin-bottom: 28px;
    }
    
    p {
        font-size: 24px; 
    }
}
