.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        max-width: 210px;

        img {
            width: 100%;
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: 3rem;

        a {
            color: #FF6060;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
        }

    }
    @media (max-width: 768px) {
        .links {
            margin-left: 43px;
            a {
                font-size: 1rem !important;
            }
        }
    }
}