.collapse {
    width: 40em;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #FF6060;
        border-radius: 10px;
        color: #fff;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            font-weight: 500;
            font-size: 18px; 
        }

    }

    .content {
        display: none;
        padding: 10px;
        border-radius: 10px 10px 5px 5px;
        background: var(--gray, #F6F6F6);  

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                color:#FF6060;
            }

        }
    }

    .rotate-icon {
        transition: transform 0.3s ease;
    }

}