@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.appNavbar, .appContent {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.appNavbar {
  margin-top: 25px; 
}

.appContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  color: white;
}