.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 139px 0;
        color: #FF6060;
        font-size: 288px;
        font-style: normal;
        font-weight: 700;
    }

    p {
        color: #FF6060;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }

    a {
        margin: 139px 0;
        color: #FF6060;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline; 
    }

}