.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 139px 0;
        color: #FF6060;
        font-size: 288px;
        font-style: normal;
        font-weight: 700;
    }

    p {
        color: #FF6060;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        text-align: center;
    }

    a {
        margin: 139px 0;
        color: #FF6060;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline; 
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 96px;  
        }
        p {
            font-size: 18px;
            overflow-wrap: break-word;
        }
        a {
            font-size: 14px;
        }
    }



}